{% extends "base.html" %}
{% block title %}Сменить пароль{% endblock %}
{% block content %}
    <h1>Сменить пароль</h1>
    <form action="." method="post" class="auth-form">
        <div id="registration">
            <div class="colspan-2">{{ form.non_field_errors }}</div>
            {% for field in form.visible_fields %}
                <div class="label">{{ field.label }}</div>
                <div>{{ field }}</div>

                <div class="colspan-2">{{ field.errors }}</div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        </div>
        <input type="submit" value="Сменить" class="btn auth-btn">
        {% csrf_token %}
    </form>
{% endblock %}